.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.form-group {
  display: inline-block;
  width: 50%;
}
.custom-datatable .p-datatable-thead > tr > th,
.custom-datatable .p-datatable-tfoot > tr > td,
.custom-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem;
}

.card.summary {
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .summary {
    margin: 0 auto;
    text-align: center;
  }
}

.graph-container {
  width: 50%;
  height: 50%;
}

@media (max-width: 768px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title {
  text-align: left;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
